
/* font style for name */
#name {
    font-size: xx-large;
    font-weight: 700;
}

/* font style for links */
#navbarNav {
    /* display: flex;
    justify-content: end;
    align-items: center; */
    font-weight: 900 ;
    margin-bottom: 10px;
} 


/* margin between links */
.nav-item{
    padding: 0 50px 0 50px;}

/* background for section with photo and quote */
#subheader {
    background-image: url(../images/02-hero-bg.jpg);
    background-position: center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    margin-top: -10px;
    margin-bottom: -20px;
}

/* positioning of the photo away from left margin */
#subheader img {
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 3%
}

/*  positioning of the "quote" box */
.card-body {
    display: flex;
    justify-content: flex-end;
    margin-top: 190px;
}

/* style for the "quote" box */
.card-title {
    display: flex;
    background-color: rgb(170, 185, 185);
    opacity: 0.7;
    text-align: center;
    line-height: 75%;
    align-self: auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5%;
    /* flex-shrink: 1; */
}


/* image lowered to be better centered */
.accordion-body img {
    padding-top: 10px;
    
}


/* positioning of the card text  */
.cardLowerTexts {
    padding-top: 5px;
    margin-bottom: -10px;
}

/* styling for the card text */
.card-text {
    text-align: center;
    font-weight: 700;
}

/* all titles and important text are now black */
span {
    color: black;
    font-weight: bolder;
}

/* links are black and without underline */
a {
    text-decoration: none;
    color: black;
}